.button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.fs-12 {
  font-size: 12px !important;
}

.message {
  width: 100vh;
  height: calc(100% - 100px) !important;
}

.send-message {
  height: 50px;
}
